
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}


body{
  background-color: #03244d;

}

img {
  max-width: 100%;

}



.like-button{
  background-color: #dd550c;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 15%;
  left: 50%;
  border-radius: 50px;

}
